*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DMSans';
}
@font-face {
    font-family: 'DMSans';
    src: url('assets/static/DMSans-Regular.ttf');
    font-weight: 400;
}

#icon{
    color: #fff;
    background-color: #fff;
}
a{
    color: #000;
}

/* global.css yoki App.css ichida */
ion-icon {
  color: #000;       /* hamma ion-icon default qora bo‘ladi */
}

/* Agar ayrim iconlar oq bo‘lishi kerak bo‘lsa (masalan, qora paneldagi savat) */
.cart-icon {
  color: #000;       /* yoki #fff – qaysi joyda oq bo‘lishi kerak bo‘lsa */
}

/* Yurakcha icon, mahsulot kartasidagi sevimli tugma */
.product-like-btn ion-icon {
  color: #000;       /* kulrang/qora */
}
